@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
.navbar {
  background-color: #f4f3ee;
  .navbar-brand {
    color: black;
    font-size: 36px;
    font-family: "Open Sans", sans-serif;
  }
  a {
    font-size: 15px;
    color: #707070 !important;
    font-family: "Open Sans", sans-serif;
  }
  .nav-item:last-of-type {
    margin-bottom: 66px;
  }
  .navbar-toggler {
    border-color: #f4f3ee !important;
  }
  @media (min-width: 992px) {
    .navbar-brand {
      margin-left: 75px;
    }
    .navbar-nav {
      margin-right: 45px;
    }
    .nav-item:last-of-type {
      margin-bottom: 0;
    }
    .navbar-nav {
      margin-left: auto;
    }
  }
}
